<nav class="navall">
    <div class="site-title">
        <a href="/">
        <ul href="/">
            <img  src="https://www.benlcollins.com/wp-content/uploads/2016/01/spotify.png">
            <h3 > Spotify </h3>
        </ul>
     </a> 

    </div>
    
    <ul class="navlist">

        <li><a href="/login">login</a></li>
        <li><a href="/about">about</a></li>
        
    </ul>
</nav>