<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navsign.ejs') %>
            <!-- <%- include('./partials/sidenav.ejs') %> -->

            <div class="prologin">
                <form class="change"  >
                    <h2 class="up">Update Password</h2>
                   <label for="email">Email</label>
                    <input autocomplete="off" id="email" name="email" placeholder="Enter the Email-id" type="email" required>
                    <label for="password">Password</label>
                    <input autocomplete="off" name="password" placeholder="Enter the password" type="password"
                        id="password" required>
                   <label for="new-password">New-Password</label>
                    <input autocomplete="off" name="newpass" placeholder="Enter the New password" type="password"
                        id="password" required>
                  
                   <button type="submit" id="change" class="login" value="submit form">confirm</button>
                </form>
                <script>
                    const form = document.getElementById('change')
                    form.addEventListener('submit', registerUser)


                    async function registerUser(event) {

                        event.preventDefault();
                        const password = document.getElementById('password').value

                        const result = await fetch('/change', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'appliction/json'
                            },
                            body: JSON.stringify({
                                newpass:password, 
                                token:localStorage.getItem('token')
                            })
                        }).then((res) => res.json())
                        if(result.status === 'ok'){
                            console.log('Got the Token',result.data)
                            localStorage.setItem('token',result.data)
                            
                        }
                    }
                </script>
            </div>

    </body>

</html>